<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SelectiveFileCopy.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
    <userSettings>
        <SelectiveFileCopy.My.MySettings>
            <setting name="CopyIncludesRootFolder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IgnoredFolders" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>**/.vs</string>
                        <string>**/.git</string>
                        <string>**/bin</string>
                        <string>**/obj</string>
                        <string>**/packages</string>
                        <string>**/Setup</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="LatestSource" serializeAs="String">
                <value />
            </setting>
            <setting name="LatestDestination" serializeAs="String">
                <value />
            </setting>
            <setting name="LatestDestinationType" serializeAs="String">
                <value>ZipFile</value>
            </setting>
        </SelectiveFileCopy.My.MySettings>
    </userSettings>
</configuration>
